<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/pt_p-login.css}"  />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <!-- <link rel="shortcut icon" href="/res/favicon_default.ico"> -->
    <style type="text/css">
        .yidun--light.yidun.yidun--error.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--error.yidun--sms .yidun_tips .tips__icon,.yidun--light.yidun.yidun--success.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--success.yidun--sms .yidun_tips .tips__icon,.yidun--light.yidun .yidun_loadbox .loadbox__inner,.yidun--light.yidun .yidun_loadbox .loadbox__inner .yidun_loadicon,.yidun_intellisense--light .yidun_intelli-icon,.yidun_intellisense--light .yidun_tips__icon,.yidun_popup--light.yidun_popup .yidun_modal,.yidun_popup--light.yidun_popup .yidun_modal__close .icon-close {display:inline-block;*display:inline;zoom:1}
        .panel_ease-enter,.panel_ease-leave-active {opacity:0;-webkit-transform:translateY(20px);transform:translateY(20px)}
        .panel_ease-enter-active,.panel_ease-leave-active {transition:all .2s linear;pointer-events:none}
        .popup_scale-enter,.popup_scale-leave-active {opacity:0;-webkit-transform:scale(0);transform:scale(0)}
        .popup_scale-enter-active {transition:all .3s cubic-bezier(.76,.01,.35,1.56)}
        .popup_scale-leave-active {transition:all .2s ease-out}
        .popup_ease-enter {opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}
        .popup_ease-enter-active {transition:opacity .3s linear,-webkit-transform .3s linear;transition:opacity .3s linear,transform .3s linear;transition:opacity .3s linear,transform .3s linear,-webkit-transform .3s linear}
        .popup_ease-leave-active {opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px);transition:all .2s ease-out}
        @-webkit-keyframes loading {
            0% {-webkit-transform:rotate(0deg);transform:rotate(0deg)}
            to {-webkit-transform:rotate(1turn);transform:rotate(1turn)}
        }
        @keyframes loading {
            0% {-webkit-transform:rotate(0deg);transform:rotate(0deg)}
            to {-webkit-transform:rotate(1turn);transform:rotate(1turn)}
        }
        @-webkit-keyframes ball-scale-multiple {
            0% {-webkit-transform:scale(.22);transform:scale(.22);opacity:0}
            5% {opacity:1}
            to {-webkit-transform:scale(1);transform:scale(1);opacity:0}
        }
        @keyframes ball-scale-multiple {
            0% {-webkit-transform:scale(.22);transform:scale(.22);opacity:0}
            5% {opacity:1}
            to {-webkit-transform:scale(1);transform:scale(1);opacity:0}
        }
        .yidun,.yidun_pop {-webkit-tap-highlight-color:transparent}
        .yidun *,.yidun_pop * {box-sizing:border-box}
        .yidun--light.yidun {position:relative;margin:auto;font-size:14px}
        .yidun--light.yidun .yidun_jigsaw,.yidun--light.yidun .yidun_slide_indicator,.yidun--light.yidun .yidun_slider {display:none}
        .yidun--light.yidun .yidun_jigsaw {position:absolute;left:0;top:0;width:auto;height:100%}
        .yidun--light.yidun .yidun_icon-point {position:absolute;width:26px;height:33px;background-repeat:no-repeat}
        .yidun--light.yidun .yidun_icon-point.point-1 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -364px;background-size:34px 471px}
        .yidun--light.yidun .yidun_icon-point.point-2 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -220px;background-size:34px 471px}
        .yidun--light.yidun .yidun_icon-point.point-3 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -328px;background-size:34px 471px}
        .yidun--light.yidun .yidun_icon-point.point-4 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -292px;background-size:34px 471px}
        .yidun--light.yidun .yidun_icon-point.point-5 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -256px;background-size:34px 471px}
        .yidun--light.yidun .yidun_panel {transition: opacity 0.2s, transform 0.5s, z-index 0.2s; transform: translate3d(0, 178px, 0); opacity: 0; z-index: -1;}
        .yidun--light.yidun .yidun_panel.hover { transition: opacity 0.5s cubic-bezier(0.8, 0, 1.0, 1.0),transform 0.3s; transform: translate3d(0, 0, 0); opacity: 1; z-index: 1;}
        .yidun--light.yidun .yidun_panel-placeholder {position:relative;padding-top:50%}
        .yidun--light.yidun .yidun_bgimg {position:absolute;top:0;left:0;width:100%;height:100%}
        .yidun--light.yidun .yidun_bgimg .bg-img {vertical-align:top;width:100%;border-radius:2px}
        .yidun--light.yidun .yidun_loadbox {display:none;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;background-image:url("https://cstaticdun.126.net//2.4.1/images/tipBg.ad4e919.png");background-color:#f7f9fa;background-position:50%;background-size:cover;border-radius:2px}
        .yidun--light.yidun .yidun_loadbox .loadbox__inner {position:relative;top:50%;margin-top:-25px}
        .yidun--light.yidun .yidun_loadbox .loadbox__inner .yidun_loadicon {width:32px;height:32px;background-repeat:no-repeat}
        .yidun--light.yidun .yidun_loadbox .loadbox__inner .yidun_loadtext {display:block;line-height:20px;color:#45494c}
        .yidun--light.yidun .yidun_refresh {position:absolute;right:0;top:0;width:34px;height:34px;cursor:pointer;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -437px;background-size:34px 471px}
        .yidun--light.yidun .yidun_refresh:hover {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -400px;background-size:34px 471px}
        .yidun--light.yidun .yidun_control {position:relative;height:40px;border-radius:2px;border:1px solid #e4e7eb;background-color:#f7f9fa;z-index: 2;}
        .yidun--light.yidun .yidun_control.slider--moving .yidun_slide_indicator {border-color:#1991fa;background-color:#a4d4ff}
        .yidun--light.yidun .yidun_control.slider--moving .yidun_slider {background-color:#1991fa}
        .yidun--light.yidun .yidun_control.slider--moving .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -13px;background-size:34px 471px}
        .yidun--light.yidun .yidun_slide_indicator {position:absolute;top:-1px;left:0;width:0;height:40px;border-radius:2px; background-color: #a8d6ff;}
        .yidun--light.yidun .yidun_slider {position:absolute;top:0;left:0;width:40px;height:100%;border-radius:2px;background-color:#fff;box-shadow:0 0 3px rgba(0,0,0,.3);cursor:pointer;transition:background .2s linear}
        .yidun--light.yidun .yidun_slider .slider__icon {position:absolute;top:50%;margin-top:-6px;left:50%;margin-left:-6px;width:14px;height:10px;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -26px;background-size:34px 471px}
        .yidun--light.yidun .yidun_slider:hover {background-color:#1991fa}
        .yidun--light.yidun .yidun_slider:hover .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -13px;background-size:34px 471px}
        .yidun--light.yidun .yidun_tips {text-align:center;color:#45494c;line-height:40px}
        .yidun--light.yidun .yidun_tips:hover {text-align:center;color:#45494c;line-height:40px}
        .yidun--light.yidun .yidun_tips .sms-counter {color:#1991fa}
        .yidun--light.yidun.yidun--jigsaw .yidun_jigsaw,.yidun--light.yidun.yidun--jigsaw .yidun_slide_indicator,.yidun--light.yidun.yidun--jigsaw .yidun_slider {display:block}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_icon-point.point-1 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -364px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_icon-point.point-2 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -220px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_icon-point.point-3 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -328px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_icon-point.point-4 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -292px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_icon-point.point-5 {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -256px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--float {height:40px}
        .yidun--light.yidun.yidun--float .yidun_panel {position:absolute;bottom:40px;left:0;width:100%;padding-bottom:15px;}
        .yidun--light.yidun.yidun--embed .yidun_panel,.yidun--light.yidun.yidun--popup .yidun_panel {padding-bottom:15px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_loadbox {background-image:url("https://cstaticdun.126.net//2.4.1/images/tipBg@2x.c7a9593.png")}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_refresh {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -437px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_refresh:hover {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -400px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_control.slider--moving .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -13px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_slider:hover .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -13px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -26px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--loadfail .yidun_bgimg,.yidun--light.yidun.yidun--loading .yidun_bgimg {display:none}
        .yidun--light.yidun.yidun--loadfail .yidun_loadbox,.yidun--light.yidun.yidun--loading .yidun_loadbox {display:block}
        .yidun--light.yidun.yidun--loading .yidun_loadicon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -185px;background-size:34px 471px;-webkit-animation:loading .8s linear infinite;animation:loading .8s linear infinite}
        .yidun--light.yidun.yidun--loading .yidun_refresh {display:none}
        .yidun--light.yidun.yidun--loading .yidun_slider {cursor:not-allowed}
        .yidun--light.yidun.yidun--loading .yidun_slider:hover {background-color:#fff}
        .yidun--light.yidun.yidun--loading .yidun_slider:hover .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -26px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--loading .yidun_loadicon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -185px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--loading .yidun_slider:hover .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -26px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--loadfail .yidun_loadicon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -152px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--loadfail .yidun_loadicon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -152px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--success .yidun_tips {color:#52ccba}
        .yidun--light.yidun.yidun--success .yidun_refresh {display:none}
        .yidun--light.yidun.yidun--success.yidun--jigsaw .yidun_slide_indicator {border-color:#52ccba;background-color:#d2f4ef}
        .yidun--light.yidun.yidun--success.yidun--jigsaw .yidun_slider {background-color:#52ccba}
        .yidun--light.yidun.yidun--success.yidun--jigsaw .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 0;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--success.yidun--jigsaw .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 0;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--success.yidun--point .yidun_control,.yidun--light.yidun.yidun--success.yidun--sms .yidun_control {border-color:#52ccba;background-color:#d2f4ef}
        .yidun--light.yidun.yidun--success.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--success.yidun--sms .yidun_tips .tips__icon {margin-right:5px;width:17px;height:12px;vertical-align:middle;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -67px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--success.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--success.yidun--sms .yidun_tips .tips__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0            -67px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--error .yidun_tips {color:#f57a7a}
        .yidun--light.yidun.yidun--error.yidun--jigsaw .yidun_slide_indicator {border-color:#f57a7a;background-color:#fce1e1}
        .yidun--light.yidun.yidun--error.yidun--jigsaw .yidun_slider {background-color:#f57a7a}
        .yidun--light.yidun.yidun--error.yidun--jigsaw .yidun_slider .slider__icon {width:12px;height:12px;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -82px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--error.yidun--jigsaw .yidun_slider .slider__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -82px;background-size:34px 471px}
        }
        .yidun--light.yidun.yidun--error.yidun--point .yidun_control,.yidun--light.yidun.yidun--error.yidun--sms .yidun_control {border-color:#f57a7a;background-color:#fce1e1;position: relative; }
        .yidun--light.yidun.yidun--error.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--error.yidun--sms .yidun_tips .tips__icon {margin-right:5px;width:12px;height:12px;vertical-align:middle;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -97px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun--light.yidun.yidun--error.yidun--point .yidun_tips .tips__icon,.yidun--light.yidun.yidun--error.yidun--sms .yidun_tips .tips__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -97px;background-size:34px 471px}
        }
        .yidun_cover-frame {position:absolute;top:0;left:0;width:100%;height:100%;border:0;opacity:0;filter:alpha(opacity=0)}
        .yidun_popup--light.yidun_popup {position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;text-align:center}
        .yidun_popup--light.yidun_popup .yidun_popup__mask {position:absolute;top:0;left:0;width:100%;height:100%;background-color:#000;filter:alpha(opacity=30);opacity:.3;transition:opacity .3s linear;will-change:opacity}
        .yidun_popup--light.yidun_popup .yidun_modal {position:relative;top:20%;border-radius:2px;border:1px solid #e4e7eb;background-color:#fff;box-shadow:0 0 10px rgba(0,0,0,.3)}
        .yidun_popup--light.yidun_popup .yidun_modal__title {padding:0 15px;height:50px;line-height:50px;text-align:left;font-size:16px;color:#45494c;border-bottom:1px solid #e4e7eb}
        .yidun_popup--light.yidun_popup .yidun_modal__close {position:absolute;top:13px;right:9px;width:24px;height:24px;text-align:center;cursor:pointer}
        .yidun_popup--light.yidun_popup .yidun_modal__close .icon-close {margin-top:6px;width:11px;height:11px;vertical-align:top;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -53px;background-size:34px 471px}
        .yidun_popup--light.yidun_popup .yidun_modal__close:hover .icon-close {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -39px;background-size:34px 471px}
        .yidun_popup--light.yidun_popup .yidun_modal__body {padding:15px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_popup--light.yidun_popup .yidun_modal__close .icon-close {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -53px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_popup--light.yidun_popup .yidun_modal__close:hover .icon-close {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -39px;background-size:34px 471px}
        }
        .yidun_intellisense--light {position:relative}
        .yidun_intellisense--light * {box-sizing:border-box}
        .yidun_intellisense--light .yidun_intelli-control {position:relative;height:40px;font-size:14px;border-radius:2px;border:1px solid #e4e7eb;background-color:#f7f9fa;cursor:pointer;overflow:hidden}
        .yidun_intellisense--light .yidun_intelli-tips {text-align:center;color:#45494c}
        .yidun_intellisense--light .yidun_intelli-tips:hover .yidun_intelli-icon {background-color:#1991fa;box-shadow:0 2px 6px 1px rgba(25,145,250,.5)}
        .yidun_intellisense--light .yidun_intelli-tips:hover .yidun_intelli-icon .yidun_logo {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -112px;background-size:34px 471px}
        .yidun_intellisense--light .yidun_intelli-tips:hover .yidun_intelli-text {color:#1991fa}
        .yidun_intellisense--light .yidun_intelli-icon {position:relative;margin-right:5px;width:28px;height:28px;vertical-align:middle;border-radius:50%;background-color:#fff;box-shadow:0 2px 8px 1px rgba(188,196,204,.5);transition:all .2s linear}
        .yidun_intellisense--light .yidun_intelli-icon .yidun_logo {position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;width:15px;height:17px;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -132px;background-size:34px 471px}
        .yidun_intellisense--light .yidun_intelli-text {line-height:38px;vertical-align:middle;transition:all .2s linear}
        .yidun_intellisense--light .yidun_classic-tips {display:none;text-align:center}
        .yidun_intellisense--light .yidun_tips__icon {margin-right:5px;width:12px;height:12px;vertical-align:middle}
        .yidun_intellisense--light .yidun_tips__text {line-height:38px;vertical-align:middle}
        .yidun_intellisense--light .yidun_classic-wrapper {display:none;padding:9px;border:1px solid #e4e7eb;border-radius:2px;background-color:#fff}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_intellisense--light .yidun_intelli-tips:hover .yidun_intelli-icon .yidun_logo {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -112px;background-size:34px 471px}
        }
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_intellisense--light .yidun_intelli-icon .yidun_logo {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -132px;background-size:34px 471px}
        }
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_intelli-icon,.yidun_intellisense--light.yidun_intellisense--loading .yidun_intelli-icon {background-color:#1991fa}
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_intelli-icon .yidun_logo,.yidun_intellisense--light.yidun_intellisense--loading .yidun_intelli-icon .yidun_logo {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -112px;background-size:34px 471px}
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_intelli-text,.yidun_intellisense--light.yidun_intellisense--loading            .yidun_intelli-text {color:#1991fa}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_intellisense--light.yidun_intellisense--checking .yidun_intelli-icon .yidun_logo,.yidun_intellisense--light.yidun_intellisense--loading .yidun_intelli-icon .yidun_logo {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -112px;background-size:34px 471px}
        }
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_ball-scale-multiple {position:absolute;top:50%;left:50%;-webkit-transform:translateY(-80px);transform:translateY(-80px)}
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_ball-scale-multiple>div:nth-child(2) {-webkit-animation-delay:-1.2s;animation-delay:-1.2s}
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_ball-scale-multiple>div:nth-child(3) {-webkit-animation-delay:-.6s;animation-delay:-.6s}
        .yidun_intellisense--light.yidun_intellisense--checking .yidun_ball-scale-multiple>div {position:absolute;box-shadow:inset 0 0 40px rgba(25,145,250,.5);border-radius:100%;-webkit-animation-fill-mode:both;animation-fill-mode:both;left:-80px;top:0;opacity:0;width:160px;height:160px;-webkit-animation:ball-scale-multiple 1.8s 0s linear infinite;animation:ball-scale-multiple 1.8s 0s linear infinite}
        .yidun_intellisense--light.yidun_intellisense--loading .yidun_logo {display:none}
        .yidun_intellisense--light.yidun_intellisense--loading .yidun_intelli-loading {position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;width:16px;height:16px;border-radius:50%;border-width:2px;border-style:solid;border-color:#fff #fff transparent;-webkit-animation:loading .75s linear infinite;animation:loading .75s linear infinite;background-position:0 0}
        .yidun_intellisense--light.yidun_intellisense--error .yidun_intelli-tips,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_intelli-tips,.yidun_intellisense--light.yidun_intellisense--success .yidun_intelli-tips {display:none}
        .yidun_intellisense--light.yidun_intellisense--error .yidun_classic-tips,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_classic-tips,.yidun_intellisense--light.yidun_intellisense--success .yidun_classic-tips {display:block}
        .yidun_intellisense--light.yidun_intellisense--success .yidun_intelli-control {border-color:#52ccba;background-color:#d2f4ef}
        .yidun_intellisense--light.yidun_intellisense--success .yidun_classic-tips {color:#52ccba}
        .yidun_intellisense--light.yidun_intellisense--success .yidun_tips__icon {width:17px;background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -67px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_intellisense--light.yidun_intellisense--success .yidun_tips__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -67px;background-size:34px 471px}
        }
        .yidun_intellisense--light.yidun_intellisense--error .yidun_intelli-control,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_intelli-control {border-color:#f57a7a;background-color:#fce1e1}
        .yidun_intellisense--light.yidun_intellisense--error .yidun_classic-tips,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_classic-tips {color:#f57a7a}
        .yidun_intellisense--light.yidun_intellisense--error .yidun_tips__icon,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_tips__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light.f13cff3.png");background-position:0 -97px;background-size:34px 471px}
        @media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) {.yidun_intellisense--light.yidun_intellisense--error .yidun_tips__icon,.yidun_intellisense--light.yidun_intellisense--loadfail .yidun_tips__icon {background-image:url("https://cstaticdun.126.net//2.4.1/images/icon_light@2x.4338e99.png");background-position:0 -97px;background-size:34px 471px}
        }
    </style>
</head>

<body>
<div id="app" class=" m-default">
    <div class="g-doc">
        <div class="m-body">
            <div class="g-body">
                <div class="container">
                    <!--inlcude-->
                    <div class="m-plogin">
                        <!--inlcude-->
                        <div class="login_container">
                            <form class="login-form m-form">
                                <!--Regular if7-->
                                <h2 class="title">滑块验证登陆</h2>
                                <div class="m-form-group">
                                    <!--inlcude-->
                                    <div class="m-input-group ">
                                        <input type="text" name="account" class="m-input m-input-large account-input" placeholder="银行卡卡号"/>
                                        <!--Regular if8-->
                                        <div class="m-input-in-icon">
                                            <!--inlcude--></div>
                                        <!--inlcude-->
                                        <i class="icomoon icon-user"></i>
                                    </div>
                                    <!--Regular if9--></div>
                                <div class="m-form-group">
                                    <!--inlcude-->
                                    <div class="m-input-group m-password-group ">
                                        <!--Regular if10-->
                                        <input type="password" name="password" class="m-input m-input-large password-input" placeholder="登录密码"/>
                                        <!--Regular if11-->
                                        <div class="m-input-in-icon">
                                            <!--inlcude-->
                                            <!--Regular if12-->
                                            <i class="icomoon icon-open-eye"></i>
                                        </div>
                                        <!--inlcude-->
                                        <i class="icomoon icon-password"></i>
                                    </div>
                                    <!--Regular if13--></div>
                                <div class="m-form-group">
                                    <!--inlcude-->
                                    <div class="m-captcha">
                                        <div class="yidun yidun--light yidun--float yidun--jigsaw" style="width: 326px; min-width: 220px" id="kakaluote">
                                            <div class="yidun_panel" id="yidun_panel">
                                                <div class="yidun_panel-placeholder">
                                                    <div class="yidun_bgimg">
                                                        <img class="bg-img" id="bg-img" alt="" src="http://127.0.0.1:9091/berna-web/jigsaw/getValidateImg?type=1"/>
                                                        <img class="yidun_jigsaw" id="yidun_jigsaw" src="http://127.0.0.1:9091/berna-web/jigsaw/getValidateImg?type=2"/>
                                                    </div>
                                                    <div class="yidun_loadbox">
                                                        <div class="loadbox__inner">
                                                            <div class="yidun_loadicon"></div>
                                                            <span class="yidun_loadtext">加载中...</span>
                                                        </div>
                                                    </div>
                                                    <div class="yidun_refresh" id="yidun_refresh" title="刷新"></div>
                                                </div>
                                            </div>
                                            <div class="yidun_control" id="yidun_control">
                                                <div class="yidun_slide_indicator" id="yidun_slide_indicator"></div>
                                                <div class="yidun_slider" id="yidun_slider">
                                                    <span class="slider__icon"></span>
                                                </div>
                                                <div class="yidun_tips" id="yidun_tips">
                                                    <span class="tips__icon"></span>
                                                    <span class="tips__text" id="tips__text">向右滑动滑块填充拼图</span>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="NECaptchaValidate" value="" class="yidun_input" style="font-size: 2px;"/></div>
                                    <!--Regular if14--></div>
                                <!--Regular if15-->
                                <div class="m-form-group login-error">
                                    <!--inlcude-->
                                    <!--Regular if16-->
                                    <!--Regular if17-->
                                </div>
                                <!--Regular if18-->
                                <div class="m-form-group m-form-group-small">
                                    <!--inlcude-->
                                    <button class="m-btn m-btn-primary m-btn-large m-btn-submit">
                                        <!--inlcude-->登    录</button>
                                    <!--Regular if20--></div>
                                <!--Regular if21-->
                                <!--Regular if24--></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Regular if1-->
    <!--Regular if0-->
</div>
<script type="text/javascript" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<script type="text/javascript">
    // <![CDATA[
    $(document).ready(function() {
        $('#yidun_control,#yidun_panel').hover(function() {
            $('#yidun_panel').addClass('hover');
            $('#yidun_panel').show();
            // debugger
        }, function() {
            $('#yidun_panel').removeClass('hover', function () {
                $('#yidun_panel').hide();
            });
        });

        $("#yidun_refresh").click(function(){
            $('#bg-img').attr('src','http://127.0.0.1:9091/berna-web/jigsaw/getValidateImg?type=1');
            $('#yidun_jigsaw').attr('src','http://127.0.0.1:9091/berna-web/jigsaw/getValidateImg?type=2');
        });


        /*--------------拖曳效果----------------
       *原理：标记拖曳状态dragging ,坐标位置iX, iY
       *         mousedown:fn(){dragging = true, 记录起始坐标位置，设置鼠标捕获}
       *         mouseover:fn(){判断如果dragging = true, 则当前坐标位置 - 记录起始坐标位置，绝对定位的元素获得差值}
       *         mouseup:fn(){dragging = false, 释放鼠标捕获，防止冒泡}
       */
        var dragging = false;
        var distance = 160;
        var iX, iY, oX, oY;
        $("#yidun_slider").mousedown(function(e) {
            dragging = true;
            iX = e.clientX - this.offsetLeft;
            iY = e.clientY- this.offsetTop;;
            //   this.setCapture && this.setCapture();
            return false;
        });
        document.onmousemove = function(e) {
            if (dragging) {
                var e = e || window.event;
                oX = e.clientX - iX;
                oY = e.clientY - iY;
                if (oX >= 0 && oX < 286) {
                    $("#yidun_slider, #yidun_jigsaw").css({"left":oX + "px", "top":0});	// 只在X轴拖动
                    $('#yidun_slide_indicator').css('width',oX+"px");
                    $('#tips__text').text("");
                    $('#yidun_control').addClass('slider--moving');
                }
                $('#yidun_control,#yidun_panel').unbind("hover");	// 拖动完成后不再让图片消失
                return false;
            }
        };
        $(document).mouseup(function(e) {
            if (dragging) {
                var gap =Math.abs(oX - distance);
                var data;
                var url ='/berna-web/jigsaw/validateCode?oX='+oX;
                $.ajax({
                    type: 'GET',
                    url: url,
                    dataType:"json",
                    async:false,
                    success: function(msg){
                        console.log(msg);
                        data = eval('(' + msg + ')');
                        console.log(data.returnCode);
                        if(data.returnCode==0){
                            $('.yidun_panel-placeholder').hide();
                            $('#kakaluote').addClass('yidun--success');
                        }else{
                            $('#kakaluote').addClass('yidun--error');
                        }
                    },
                    error:function(msg){
                        console.log(msg);
                        $('#kakaluote').addClass('yidun--error');
                    }
                });

                // location.reload();
                //	if ( gap < 10) {
                //		alert("验证成功！"+gap);
                //		location.reload();
                //	}else {
                //		alert("验证失败"+gap);
                //		location.reload();
                //	}
            }
            dragging = false;
            //$("#yidun_slider")[0].releaseCapture();
            e.cancelBubble = true;
        });
    });
    //]]>
</script>

</body>

</html>